<div class=" v2-ui-integretion">
    <div class="d-flex padding-LR bg-white py-3 border-bottom h-60">
      <span class="font-20 color-black-grey-text">Calendar</span>
    </div>
    <div class="bg-white d-flex pl-3 calendar-layout">
      <div class="col-3 pl-0 calender-small-layout">
        <app-small-calendar ></app-small-calendar>
      </div>
      <div class="col-9 px-0"><app-large-calendar > </app-large-calendar></div>
    </div>
</div>
  