.smallCalender {
    .fc-unthemed th,
    .fc-unthemed td,
    .fc-unthemed thead,
    .fc-unthemed tbody,
    .fc-unthemed .fc-divider,
    .fc-unthemed .fc-row,
    .fc-unthemed .fc-content,
    .fc-unthemed .fc-popover,
    .fc-unthemed .fc-list-view,
    .fc-unthemed .fc-list-heading td {
      border-color: transparent;
      color: #9cb2cd;
      font-size: 12px;
    //   font-family: $lato-regular;
    }
    .fc-dayGrid-view .fc-body .fc-row {
      min-height: 2.5em;
    }
    .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
      float: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.3em !important;
    }
    .fc-unthemed td.fc-today {
      background: #538fff;
      // border-radius: 50%;
      color: white;
      height: 2.5em !important;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #538fff;
        height: 2.5em !important;
      }
    }
    .fc-toolbar > * > :not(:first-child) {
      display: none;
    }
    .fc-event {
      background-color: #f8c865 !important; //---------------------------------------------
    }
    .fc-view-container * {
      overflow: hidden !important;
      height: auto !important;
    }
    tbody tr:hover {
      background-color: transparent !important;
    }
    .fc-widget-header {
      padding-bottom: 5px;
    }
    .fc-toolbar {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .fc-left {
      width: 100%;
      div{
        display: flex;
        justify-content: space-between;
      }
    }
    .fc-right {
      width: 100%;
      margin: 15px 0;
      background: #eff6ff;
      border-radius: 15px;
      .fc-button-group > .fc-button:not(:last-child),
      .fc-button-group > .fc-button:not(:first-child) {
        border-radius: 15px;
        padding: 5px 25px;
        font-size: 13px;
        text-transform: capitalize;
      }
      .fc-button-group {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .fc-dayGridDay-button {
        //   display: none !important;
        width: 100% !important;
        }
        .fc-dayGridWeek-button {
          width: 100% !important;
        }
        .fc-dayGridMonth-button {
          width: 100% !important;
        }
      }
    }
  
    .fc-button-primary:not(:disabled):active:focus,
    .fc-button-primary:not(:disabled).fc-button-active:focus {
      box-shadow: none;
    }
    .fc-button-primary:not(:disabled):active,
    .fc-button-primary:not(:disabled).fc-button-active {
      color: #fff;
      background-color: #538fff;
      border-color: transparent;
    }
    .fc-button-group {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    .fc-button-group > .fc-button {
      flex: inherit;
    }
    .fc-button-primary {
      background-color: transparent;
      border-color: transparent;
      color: #000;
    //   font-family: $lato-medium;
      text-transform: capitalize;
      font-size: 12px;
      &:hover {
        background-color: #538fff;
        color: #fff;
        border: transparent;
      }
    }
    .fc-button-group > .fc-button:not(:last-child),
    .fc-button-group > .fc-button:not(:first-child) {
      border-radius: 10px;
    }
    .fc-button {
      padding: 0px 3px 2px 3px;
    }
    .fc-center {
      position: absolute;
    }
    .fc-toolbar h2 {
      font-size: 15px;
      margin: 0 0 8px 0;
      color: #273142;
    //   font-family: $lato-regular;
    }
    .fc-button-primary:focus {
      box-shadow: none;
    }
    a.fc-event {
      border-radius: 50%;
      width: 7px;
      color: transparent;
      height: 8px !important;
      position: absolute;
      bottom: 0;
      border: none;
      margin-left: 14px;
    }
    .fc-day-grid-event .fc-time {
      color: transparent;
    }
  }
  .fullCalender {
    .fc-toolbar.fc-header-toolbar {
      margin-bottom: 0;
      margin-top: 3rem;
      padding: 15px 15px 15px 5px;
      border-top: 1px solid #d7e3f1;
    }
    .fc-header-toolbar {
      background: #f3f8ff;
      .fc-left {
        display: flex;
        flex-direction: row-reverse;
        .fc-prev-button {
          margin-right: 2rem;
        }
        .fc-next-button {
          margin-left: 2rem;
        }
        .fc-today-button {
          display: none; //// -----------------------------------
          color: #273142;
          text-transform: capitalize;
          font-size: 14px;
        //   font-family: $lato-regular;
          padding: 4px 8px;
          border: 1px solid #d7e2f1;
          border-radius: 10px;
          margin-right: 1rem;
        }
        .fc-button-group > .fc-button:not(:last-child),
        .fc-button-group > .fc-button:not(:first-child) {
          border-radius: 10px;
        }
        div {
          display: flex;
        }
      }
      h2 {
        font-size: 18px;
        color: #273142;
        // font-family: $lato-medium;
        margin-top: 5px;
      }
      .fc-button-group > .fc-button:not(:first-child) {
        border: 1px solid #dee2ec;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .fc-button-group > .fc-button:not(:last-child) {
        border: 1px solid #dee2ec;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .fc-button-primary {
        background-color: #ffffff;
        border-color: transparent;
        color: #000000;
        // font-family: $lato-regular;
        text-transform: capitalize;
        font-size: 12px;
        border-radius: 10px;
        &:hover {
          background-color: #538fff;
          border-color: transparent;
          color: #fff;
        }
        &:focus {
          box-shadow: none;
        }
      }
      .fc-button {
        padding: 4px 6px 5px 6px;
      }
      .fc-button-primary:not(:disabled):active:focus,
      .fc-button-primary:not(:disabled).fc-button-active:focus {
        box-shadow: none;
      }
      .fc-button-primary:not(:disabled):active,
      .fc-button-primary:not(:disabled).fc-button-active {
        color: #fff;
        background-color: #538fff;
        border-color: #dee2ec;
        font-size: 12px;
        text-transform: capitalize;
        // font-family: $lato-regular;
      }
      .fc-right {
        button {
          border: 1px solid #dee2ec;
          padding: 3px 10px 3px 10px;
        }
        .fc-dayGridDay-button {
          // display: none !important; //---------------------------
        }
        .fc-dayGridWeek-button {
          border-radius: 0 !important;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
    }
    .fc-dayGridWeek-view {
      .fc-head {
        display: contents;
      }
      .fc-today {
        color: #487fff;
      }
      .weekviewEmailstyle {
        word-break: break-all;
      }
      .fc-day-header {
        font-size: 12px;
        font-family: 'latoMedium';
        padding: 10px;
      }
      td.fc-today {
        background: transparent;
        color: #000;
      }
      .fc-day-grid-event {
        margin: 6px 5px 0;
        padding: 0;
        border-radius: 5px;
        text-transform: capitalize;
        font-size: 10px;
        font-family: 'latoMedium' !important;
        color: #fff !important;
        // background-color: #f58682 !important;
        .week-event-box {
          .week-event-header {
            background-color: #e57874;
            color: #ffffff;
            font-size: 10px !important;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-family: 'latoMedium' !important;
          }
          .msg-box {
            span {
              background-color: #fa6a67;
              color: #ffffff;
              border-radius: 8px;
              padding: 2px 5px;
              margin: 5px 5px 5px 0;
              font-size: 8px !important;
            }
          }
          .week-header-text {
            span {
              font-size: 10px !important;
            }
          }
          .email-text {
            text-transform: lowercase;
          }
          button {
            font-size: 7px !important;
            // padding: 5px;
          }
          .calenderActionBtn {
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 25px;
          }
          .calenderDoneBtn {
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
      .fc-event {
        background-color: transparent;
        border: none;
      }
    }
    .fc-more-popover {
      .fc-header {
        background: #f3f7ff !important;
        border-bottom: 1px solid #d7e3f1;
      }
      .fc-title {
        font-size: 15px;
        font-family: 'latoMedium';
        padding: 10px;
      }
      .fc-event-container {
        padding: 5px;
      }
      .fc-close {
        cursor: pointer;
        opacity: 0.65;
        font-size: 1.1em;
        padding: 10px;
      }
    }
    .fc-dayGridMonth-view {
      .fc-head {
        display: none;
      }
      .fc-today {
        background: #538fff;
        color: #fff;
      }
      .fc-event-container {
        //  cursor: not-allowed;
      }
      .fc-event-container {
        // position: relative;
  
        .popup-box {
          position: relative;
          margin-left: 5px;
          background-color: #000;
          border-radius: 5px;
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.15) !important;
          width: 250px;
          color: #fff;
          .popup-header {
            font-family: 'latoMedium' !important;
  
            h2 {
              text-transform: uppercase;
              margin: 0;
            }
          }
        }
      }
    }
    .fc-dayGridDay-view {
      .fc-day-header {
        font-size: 12px;
        font-family: 'latoMedium';
        padding: 10px;
      }
      td.fc-today {
        background: transparent;
        color: #000;
      }
    }
  
    .fc-unthemed th,
    .fc-unthemed td,
    .fc-unthemed thead,
    .fc-unthemed tbody,
    .fc-unthemed .fc-divider,
    .fc-unthemed .fc-row,
    .fc-unthemed .fc-content,
    .fc-unthemed .fc-popover,
    .fc-unthemed .fc-list-view,
    .fc-unthemed .fc-list-heading td {
      border-color: #d7e3f1;
      // border-left: none;
    }
  
    .fc .fc-row .fc-content-skeleton table,
    .fc .fc-row .fc-content-skeleton td,
    .fc .fc-row .fc-mirror-skeleton td {
      background: none;
      border-color: #d7e3f1;
    }
    .fc .fc-row .fc-content-skeleton td {
      // border-color: transparent ;
    }
    .fc-day-grid-event {
      // margin: 0 4px 4px;
      // padding: 1px 5px;
      border-radius: 10px;
      text-transform: capitalize;
      font-size: 10px;
      font-family: 'latoMedium';
      color: #fff !important;
    }
    .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
      float: right;
      padding: 10px 15px;
      font-size: 15px;
      font-family: 'latoMedium';
    }
    tbody tr:hover {
      background-color: transparent !important;
    }
    .fc td.fc-today {
      border-style: none;
    }
    .fc-more-cell {
      background: #d3e2ff !important;
      color: #000;
      font-size: 12px !important;
      font-family: 'latoMedium';
      border-radius: 20px;
      position: absolute;
      width: 115px;
      margin-left: 5px;
      margin-top: 0;
    }
    a.fc-more:hover {
      text-decoration: none;
    }
  }
  .text-box-content {
    .ql-container.ql-snow,
    .ql-toolbar.ql-snow {
      border: none;
    }
    .ql-header {
      display: none !important;
    }
    .ql-snow .ql-picker.ql-size,
    .ql-snow .ql-picker.ql-header,
    .ql-snow .ql-color-picker,
    .ql-snow .ql-icon-picker {
      display: none;
    }
  }
  
  .calendar-event-model {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.15) !important;
    .modal-header {
      background: #487fff;
      font-family: 'latoMedium';
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      span {
        color: #fff;
      }
    }
  }
  .largeCalendar {
    .mainCalanderTask {
      padding: 2px 5px;
      margin: 0 4px 4px;
      border-radius: 10px;
      opacity: 0.9;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    .callTask-yellow-bg {
      background-color: #f8c865 !important;
    }
    // .callTask-yellow-bg:hover{
    //   opacity: 1;
    //   color: red;
    // }
    .callTask-blue-bg {
      background-color: #538fff !important;
    }
    .callTask-green-bg {
      background-color: #49dcbb !important;
    }
    .callTask-red-bg {
      background-color: #ff8784 !important;
    }
    .fc-event {
      border: none !important;
      background-color: #fff !important;
    }
    .fc-today {
      background-color: #fff !important;
      border-color: #d7e3f1 !important;
      border-style: inset !important;
      .fc-day-number {
        color: #000 !important;
      }
    }
    #calander-week-call-bg {
      background-color: #fcc76a !important;
      border-radius: 5px !important;
      #subject-week {
        background-color: #f4c167 !important;
      }
      #body-bg-week {
        background-color: #fcc76a !important;
        #span-bg-week {
          background-color: #ffb201 !important;
        }
      }
    }
    #calander-week-message-bg {
      background-color: #ff7976 !important;
      border-radius: 5px !important;
      #subject-week {
        background-color: #ff8784 !important;
      }
      #body-bg-week {
        background-color: #ff7976 !important;
        #span-bg-week {
          background-color: #fa6a67 !important;
        }
      }
    }
    #calander-week-mail-bg {
      background-color: #4d83e8 !important;
      border-radius: 5px !important;
      #subject-week {
        background-color: #4880ff !important;
      }
      #body-bg-week {
        background-color: #4d83e8 !important;
        #span-bg-week {
          background-color: #3379ff !important;
        }
      }
    }
    #calander-week-other-bg {
      background-color: #5bdfc1 !important;
      border-radius: 5px !important;
      #subject-week {
        background-color: #51c8ad !important;
      }
      #body-bg-week {
        background-color: #5bdfc1 !important;
        #span-bg-week {
          background-color: #35c8a7 !important;
        }
      }
    }
    .fc-today {
      cursor: pointer;
      .fc-day-number {
        // background-color: #4880FF;
        color: #4880ff !important;
      }
    }
    .fc-future {
      cursor: pointer;
    }
    .fc-content{
        background-color: blue;
        span{
            color: #fff;
        }
    }
  }